# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# Compilati / estensioni
*.so
*.pyd
*.dll

# Fortran
*.o
*.obj
*.mod
*.smod
*.a
*.out

# IDE/editor
.vscode/
.idea/
*.swp

# Dati temporanei
results/
data/
*.dat
*.tmp
